@import "../../style-config/mixins.scss";
@import "../../style-config/variable.scss";

.expanding-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  padding: 50px;
  gap: 32px;
  @include small-screen {
    width: 400px;
    gap: 32px;
    flex-shrink: 0;
  }
  .expanding-title-container {
    h1 {
      display: flex;
      color: #333;
      font-family: "Montserrat";
      font-style: normal;
      @include typography(48px, 600, 70px);
      @include small-screen {
        display: flex;
        color: #333;
        font-family: "Montserrat";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px; /* 145.833% */
      }
      span {
        display: flex;
        flex-direction: column;
        color: #138ed1;
        font-family: "Montserrat";
        font-style: normal;
        @include typography(48px, 600, 70px);
        @include small-screen {
          color: #138ed1;
          font-family: "Montserrat";
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 35px;
          margin: 0;
        }
      }
      svg {
        width: 262px;
        height: 19px;
        flex-shrink: 0;
        stroke-width: 2px;
        stroke: #008dd9;
        @include small-screen {
          width: 132px;
          height: 10px;
          flex-shrink: 0;
        }
      }
    }
  }

  .highlightes-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    .highlighte-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 151px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid #138ed1;
      background: #138ed1;
      @include small-screen {
        width: 125px;
        height: 79px;
      }
      h1 {
        color: #fff;
        text-shadow: 0px 4px 50px #75cfff;
        font-family: "Montserrat";
        font-size: 24px;
        font-style: normal;
        text-align: center;
        @include typography(24px, 600, 24px);
        @include small-screen {
          color: #fff;
          text-shadow: 0px 4px 50px #75cfff;
          font-family: Montserrat;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 100% */
        }
      }
      p {
        width: 127px;
        color: #fff;
        text-align: center;
        font-family: "Montserrat";
        font-style: normal;
        text-align: center;
        @include typography(14px, 500, 18px);
        @include small-screen {
          color: #fff;
          font-family: "s";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 187.5% */
        }
      }
    }
  }
}
